:root {
    /* fonts */
    --heading-font: 'Modak', Impact;
    --text-font: 'WDXL', 'Courier New',Verdana;
    --fancy-heading-font: 'Zilla Slab Highlight', 'Modak', Impact;

    /* colors */
    --orange: #F2610B;
    --beige: #F2ECDC;
    --white: white;
    --black: black;
    --blue: #031382;
    --blue-contrast: #A3A4BE;
    --green: #4C8967;
    --green-contrast: #B2C2AD;
    --red: #C3343A;
    --red-contrast: #CEA098;
    --yellow: #FEE64D;

    /* color assignments */
    --background-color: var(--beige);
    --text-color: var(--black);
    --heading-color: var(--black);
    --heading-contrast-color: var(--white);


}

/* **** */
/* MARK: Fonts
/* *** */

@font-face {
    font-family: 'Modak';
    src: url(/assets/fonts/Modak/Modak-Regular.ttf);
}

@font-face {
    font-family: 'WDXL';
    src: url(/assets/fonts/WDXL_Lubrifont_SC/WDXLLubrifontSC-Regular.ttf);
}

@font-face {
    font-family: 'Zilla Slab Highlight';
    src: url(/assets/fonts/Zilla_Slab_Highlight/ZillaSlabHighlight-Regular.ttf);
}

/* **** */
/* MARK: General styling
/* *** */
body {
    margin: 0;
    background-color: var(--background-color);
}

h1, h2, h3 {
    font-family: var(--heading-font);
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

* {
    font-family: var(--text-font);
}

.hidden {
    display: none;
}

/* [role="tabpanel"][aria-selected="false"] {
    display: none;
} */


/* **** */
/* MARK: Header
/* *** */

header {
    display: grid;

    .scroll-header {
        border: 0.2rem dashed var(--orange);
        height: 2rem;

        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100vw;

        &:hover .group {
            animation-play-state: paused;
        }

        .group {
            display: flex;
            gap: 0.5rem;
            padding-right: 0.5rem;
            will-change: transform; 

            @media (prefers-reduced-motion: no-preference) {
                animation: scrolling 60s linear infinite;
            }
            

            p {
                width: max-content;
            }
        }
    }

    .h1-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: clamp(5rem, 15vw, 7rem);
        
        background: var(--orange);

        

        h1 {
            font-size: clamp(2rem, 10vw, 5rem);
            color: var(--heading-contrast-color);
        }

        button {
            position: absolute;
            right: 1rem;
            
        }
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* **** */
/* MARK: Over mij
/* *** */

#over-mij {
    img {
        max-width: 10vw;
    }
}


/* **** */
/* MARK: Leerdoelen
/* *** */

#leerdoelen {
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
        font-family: var(--fancy-heading-font);
        font-size: 3rem;
        padding: 1rem;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    .tablist-container {
        display: flex;
        min-width: 40vw;
        height: 100%;

        .leerdoel-tablist-container {
            height: 100%;
            align-self: center;
            width: 100%;
        }

        .leerdoel-tablist {
            display: grid;
            width: 100%;
            height: 20rem;
            align-items: center;

            button {
                height: 4rem;
                min-width: max-content;
                width: 70%;
                appearance: none;
                font-size: 2rem;

                border: 0.3rem dashed;
                background: none;

                &:first-of-type {
                    border-color: var(--blue);
                    transform: rotate(-5deg);

                    &[aria-selected="true"] {
                        background: var(--blue-contrast); 
                    }
                }
                &:nth-of-type(2) {
                    border-color: var(--green);
                    transform: rotate(5deg);

                    &[aria-selected="true"] {
                        background: var(--green-contrast); 
                    }
                }
                &:nth-of-type(3) {
                    border-color: var(--red);
                    transform: rotate(-5deg);

                    &[aria-selected="true"] {
                        background: var(--red-contrast); 
                    }
                }
            }
        }
       
    }

    .leerdoelen-container {
        display: grid;
        place-items: center;

        article {
            width: 90%;
            height: 60%;
            border-radius: 4rem;
            padding: 2rem;
            box-sizing: border-box;
            
            &:first-of-type {
                background-color: var(--blue-contrast);
            }
            &:nth-of-type(2) {
                background-color: var(--green-contrast);
            }
            &:nth-of-type(3) {
                background-color: var(--red-contrast);
            }
        }
    }
}

@media (width >= 700px) {
    #leerdoelen {
        flex-direction: row;
    }


}